{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block page_name %}Home{% endblock %}
{% block content %}
        <div class="row">
            <div id="top" class="col text-center mt-3">
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselIndicators" data-slide-to="1"></li>
                <li data-target="#carouselIndicators" data-slide-to="2"></li>
                <li data-target="#carouselIndicators" data-slide-to="3"></li>
                <li data-target="#carouselIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="mx-auto d-block w-auto carousel-style" src="/media/cartoon01.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="mx-auto d-block w-auto carousel-style" src="/media/cartoon02.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="mx-auto d-block w-auto carousel-style" src="/media/cartoon03.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="mx-auto d-block w-auto carousel-style" src="/media/cartoon04.jpg" alt="Four slide">
                </div>
                <div class="carousel-item">
                    <img class="mx-auto d-block w-auto carousel-style" src="/media/cartoon05.jpg" alt="Five slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <h2 class="text-center">Popular Product</h2>
        <div class="row mt-2">
                        {% for product in products %}
                        {% if product.rating >= 4 %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card text-dark h-100 border-0">
                                {% if product.image %}
                                <a href="{% url 'product_details' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_details' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                            {% if product.artist %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.artist }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100" href="#top">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}