{% load static %}
<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block corejs %}
            <script src="https://kit.fontawesome.com/5c3d3d9c4a.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}

        <title>Art Of It All - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <div class="container-fluid fixed-top">
                <div class="row pt-lg-2 d-none d-lg-flex hdr-color">
                    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                        <a class="nav-link" href="{% url 'home' %}">
                            <h2 class="txt">Art Of It All <img class="logo" src="/media/artofitall-logo2.png"></h2>
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                        <h2 class="txt">{% block page_name %}{% endblock %}</h2>
                    </div>
                    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                            <li class="list-inline-item dropdown">
                                <a class="nav-link link-btn" href="#" id="user-options" data-toggle="dropdown">
                                    <div class="text-center"><i class="fas fa-user-circle"></i></div>
                                    <div class="text-center">
                                        {% if request.user.is_authenticated %}
                                            <h5 class="my-0 txt">My Account</h5>
                                        {% else %}
                                            <h5 class="my-0 txt">Sign Up/Sign In</h5>
                                        {% endif %}
                                    </div>
                                </a>
                                <div class="dropdown-menu border-1 hdr-color" aria-labelledby="user-options">
                                    {% if request.user.is_authenticated %}
                                        {% if request.user.is_superuser %}
                                            <a href="" class="dropdown-item hdr my-1 link-btn">Product Management</a>
                                        {% endif %}
                                        <a href="{% url 'account_logout' %}" class="dropdown-item hdr my-1 link-btn">Logout</a>
                                    {% else %}
                                        <a href="{% url 'account_signup' %}" class="dropdown-item hdr my-1 link-btn">Register</a>
                                        <a href="{% url 'account_login' %}" class="dropdown-item hdr my-1 link-btn">Login</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <a class="link-btn nav-link" href="{% url 'show_bag' %}">
                                    <div class="text-center">
                                        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                        <h5 class="my-0 txt">
                                            {% if grand_total %}
                                                ${{ grand_total|floatformat:2 }}
                                            {% else %}
                                                $0.00
                                            {% endif %}
                                        </h5>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% include 'includes/main-nav.html' %}
                </div>
                <div class="row hdr-color">
                    <nav class="navbar navbar-expand-lg navbar-light w-100">
                        {% include 'includes/mobile-top-header.html' %}
                    </nav>
                </div>
            </div>
        </header>
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 mb-5 pb-3 bdy-container text-white">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    {% block postloadjs %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
    {% endblock %}
    </body>
</html>